input.error {
    background-color: yellow;
}

body {
    position:relative;
    font-family: Immortal;
    background: black url('./undead_dragon.jpg') center no-repeat;
}

@font-face {
    font-family: Immortal;
    src: url(./IMMORTAL.ttf);
}

.messages{
    border: 1px solid darkgreen; 
    background-color: lightgreen; 
    margin: 10px;
    margin-left: 190px !important;
    padding-right: 10px !important;
    padding-left: 10px !important;
    padding-top:3px !important;
    padding-bottom: 0px !important;
}

.errorbox{
    border: 1px solid red; 
    background-color: yellow; 
    margin: 10px; 
    padding-right: 10px !important;
    padding-left: 10px !important;
    padding-top:3px !important;
    padding-bottom: 0px !important;
    
}
#main{
    width:1000px;
    margin:auto;
   // margin-top: -1px;
    background: #ccc;
    min-height:500px;
   
    background: url('./main-background.png');
}

#mainHdr{
    width:1000px;
    margin:auto;
    margin-top:50px;
    height: 30px;
    background: url('./main-background-hdr.png');
}

#mainFtr{
    width:1000px;
    margin:auto;

    height: 30px;
    background: url('./main-background-ftr.png');
}

#hdr{
    min-height: 150px;
    width:1000px;
    margin:auto;
    margin-top:50px;
    background: url(./Title.png) center;
}

#logout{
    text-align: right;
    color: yellow;
}

h1 {
    text-align: center;
    text-decoration: underline;
    text-shadow: #333;
    text-transform: capitalize;
}

table.basic {
    border-collapse: collapse;
    margin: 10px;
}

table.basic th, table.basic td {
    border: solid 1px black;
    padding: 4px;
}

/*  http://www.alistapart.com/articles/taminglists/ */
#navigation {
    position:relative;
    top: -50px;
    left: -75px;
    width: 300px;
    min-height:500px;
    margin-bottom: 1em;
    padding-top:50px;
    
    
    
}

#navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border: none;
}

#navigation li {
    //border-bottom: 1px solid #90bade;
    margin: 0;
    background: url(./menu.png);
}

#navigation li a {
    
    display:block;
    vertical-align: middle;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    height:70px;
    width: 100%;
    padding-top: 30px;
    color:black;
    
}

#navigation li:hover > a{
    color:white;
    
}

html>body #navigation li a {
    width: auto;
}

#navigation li:hover{
    background: url(./menu-selected.png);   
}
#navigation li a:hover {
    color: white;
}

/*  http://realworldstyle.com/2col.html */
#navigation {
    width: 300px;
    float: left;
    margin-left: -1px;
   
}

#content {
    padding: 10px;

    margin-left: 100px;
    color:black;
    font-family: Immortal;
   
}

